<% provide(:title, 'About Us') %> 

<div class="center hero-unit">
	<h1>About Us</h1>
	<p>
		The Eta Nu chapter of Phi Mu Alpha is located in Winona, MN. Phi Mu Alpha Sinfonia is the world’s oldest and largest secret national fraternal society in music. Sinfonia was born on October 6, 1898, at the New England Conservatory in Boston, when a group of thirteen young men under the guidance of Ossian Everett Mills "to consider the social life of the young men students of that institution [and] to devise ways and means by which it might be improved." Sinfonia became a national fraternity on October 6, 1900, with the admission of a group of men at the Broad Street Conservatory in Philadelphia. For over a century, Sinfonians in nearly every field of study and professional endeavor have transformed music in America. The opportunity of becoming a Sinfonian is offered to as many men as possible who, through a love for music, can assist in the fulfillment of the Fraternity’s Object and ideals either by adopting music as a profession, or by working to advance the cause of music in America. 
	</p>
</div>