<% provide(:title, 'Home') %> 
<div class="center hero-unit" style="background-color:black">
	<h1>
		<a href="http://www.sinfonia.org/">
		<%= image_tag("http://campus.albion.edu/phimualpha/files/2010/04/shapeimage_2.jpg")%></a>
	</h1>
	<h2>
		Welcome to the Eta Nu Chapter of Phi Mu Alpha's Site.
	</h2>
</div>
