<div class="center hero-unit">
	<% provide(:title, 'Get Quote') %>
	<h1 style="color:red">Get Quote</h1>

<!-- 	<%= form_for(@quote) do |f| %> 


	<%= f.submit "Get quote", class: "btn btn-large btn-primary" %> -->
	<% end %>
</div>