<% provide(:title, 'Events') %>
<h1>Events</h1>

<%= will_paginate %>

<ul class="events">
	<div class="accordion" id="accordion2">
  		<%= render @events %>
  	</div>
</ul>

<%= will_paginate %> 